#root {
  margin: 0 auto;
  padding: 0;
}

#app {
  position: relative;
  height: 100vh;
}

#map {
  height: 100vh;
}

#map img {
  height: 100%;
}

#map #regions {
  position: absolute;
  left: 0;
  top: 0;
}

#map #regions g {
  cursor: pointer;
}

#map #regions g polygon {
  fill: rgba(255, 0, 0, 0.5);
}

#map #regions g text {
  display: none;
  text-anchor: middle;
  dominant-baseline: middle;
  fill: #16161d;
  font-weight: bold;
}

#map #regions g a text {
  text-decoration: underline;
}

#map #regions g:hover text,
#map #regions g.active text {
  display: block;
}

#actions {
  position: absolute;
  top: 1vh;
  right: 1vw;
}
